* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

/* COLORS */

/* TYPOGRAPHY */

/*Custom Properties*/
:root {
    --fs-h1: 1.6rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1rem;
    --fs-h4: .9rem;
    --fs-p: .7rem;

    --fw-s: 300;
    --fw-m: 500;
    --fw-b: 700;

    @media (max-width:400px) {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-h3: 1.2rem;
        --fs-p: 1rem;
    }
}


/* GENERAL STYLING */

body {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.body-width {
    width: 95vw;
    margin: 1em auto 0 auto;
    
}

.box-style {
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
}

#scroll-to-top-button {
    position: fixed;
    right: 30px;
    bottom: 40px;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    outline: none;
    border: none;

    background: #e62739;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    z-index: 100; 
}

#scroll-to-top-button:active {
    background: #cc2333
}

footer { 
    margin-top: 1em;
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    bottom: 0;

    height: 15vh;
    min-height: 60px;
    padding: 2em 1em;
}

.inner-footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: ccenter;
}

.footer-links {
    margin-left: 2em;
    font-size: 3rem;
}

.footer-links ul li {
    list-style-type: none;
    display: inline-block;
}

.footer-links ul li p{
    font-size: .8rem;
}

.footer-links a {
    color: black;
}

.tmdb-info__container {
    margin: 0 2em;
}

.tmdb-info__container a {
    text-decoration: none;
    color: black;
    font-size: .9rem;
}

@media (max-width:768px) {
    footer {
        padding: .3em;
    }

    .inner-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-links {
        margin-left: 0;
        font-size: 2.2rem;
    }

    .tmdb-info__container a {
        font-size: .7rem;
    }
}

@media (max-width:420px) {
    .footer-links {
        font-size: .5rem;
    }

    .footer-links li:first-child {
        margin-right: .25em;
    }

    .tmdb-info__container {
        width: 100%;
    }

    .tmdb-info__container a {
        font-size: .62rem;
    }

    .tmdb-info__container svg {
        width: 100px;
    }
}



/* HEADER SYTLE */
/****************/

header {
    height: 10vh;
    min-height: 100px;
    padding: 2em;
    background: black;
    color: black; 
}

nav {
    /* padding: 0 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__items {
    width: 20vw;
    min-width: 300px;
}

.nav__items--links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__items--logo {
    /* font-family: 'Passion One', cursive; */
    font-family: 'DM Serif Display', serif;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--fs-h1);
    letter-spacing: 2px;
    font-weight: 300;
}

.nav__items li {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: var(--fs-h3);
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    padding: .5em 1em;
    transition: .2s;
}

.nav-link:hover {
    background-color: black;
    color: white;
}

.current-page {
    background-color: black;
    color: white;
}

@media (max-width:700px) {
    header {
        height: 12vh;
        min-height: 125px;
        padding: .5em;
    }
    nav {
        flex-direction: column;
        justify-content: center;
    }
    .nav__items {
        width: 100%;
        margin: 0 auto 0 auto;
        /* margin-bottom: 1em; */
    }

    .nav__items li {
        margin: 20px 10px;
    }
}

/* MAIN SECTION */

.main-section {
    min-height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    width: 90%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

#searchInput {
    width: 100%;
    padding: .7em .5em;
    font-size: 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#searchInput:focus {
    outline-style: none;
    border: 2px solid rgb(150, 148, 148);
}

.search-button {
    width: 150px;
    margin: 1em auto 0 auto;
    padding: .5em;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    border: 1px solid black;
    color: black;
    border-radius: 10px;

    transition: all .3s ease-in-out;
}

.search-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: green;
    color: white;
}

.search-button:focus {
    outline: none;
}

.h-divider {
    width: 90%;
    border-bottom: 2px solid black;
    margin: 1em 0 2em 0;
}

#main-section-header {
    margin-bottom: 1em;
    letter-spacing: 2px;
}

#about-header {
    margin-top: 1em;
    letter-spacing: 2px;
}

.about-paragraph {
    padding: .75em 2em;
}

/* MOVIE CARD */
.movie-card {
    border: 1px solid darkgray;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 2em;
    width: 80%;
    min-width: 400px;
    max-width: 800px;

    display: flex;
}

#movieImage {
    width: 20vw;
    max-width: 200px;
    object-fit: cover;
    margin-right: 1.5em;
    border-radius: 20px;
}

.movie-infos {
    width: 80vw;
    border-radius: 10px;
    padding: .7em;
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.movie-info__title {
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: .2em;
    margin-bottom: .2em;
    border-bottom: 2px solid black;
}

.movie-info__release {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1em;
}

.movie-info__rate {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .4em;
}

.movie-info__rate strong {
    font-weight: 600;
}

.movie-info__overview {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.movie-info__buttons {
    display: flex;
    justify-content: flex-start;
}

#detailsButton {
    text-decoration: none;
    border: 1px solid rgb(182, 23, 23);
    border-radius: 6px;
    color: black;
    letter-spacing: 1px;
    padding: .3em .6em;
    margin-top: 1em;
    margin-right: 1em;
    transition: .4s;
}

#detailsButton:hover {
    background-color: rgb(182, 23, 23);
    color: white;
}

#similarsButton {
    text-decoration: none;
    border: 1px solid rgb(13, 79, 167);
    border-radius: 6px;
    color: black;
    letter-spacing: 1px;
    padding: .3em .6em;
    margin-top: 1em;
    transition: .4s;
}

#similarsButton:hover {
    background-color: rgb(13, 79, 167);
    color: white;
}

@media (max-width:900px) {
    .movie-card {
        flex-direction: column;
        align-items: center;
        min-width: 300px;
    }

    #movieImage {
        margin-bottom: 2em;
    }

    .movie-infos {
        width: 60vw;
    }
}

@media (max-width:600px) {
    #movieImage {
        width: 70%;
    }

    .movie-info__buttons {
        height: 70px;
        flex-direction: column;
        justify-content: space-between;
    }

    #similarsButton {
        margin-top: 1em;
    }
}

/* DETAILS PAGE */


.details-section {
    min-height: 69vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr .4fr 2fr;
    grid-template-areas: 
        "image image"
        "links links"
        "infos infos";
}

.movie-details ul{
    list-style-type: none;
}

.movie-details__image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-details__image img {
    max-width: 100%;
    border-radius: 10px;
}

.movie-details__links {
    grid-area: links;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-details__links ul {
    width: 50%;
    display: flex;
    justify-content: center;
}

.movie-details__links li {
    margin: 0 1.5em;
}

#homepageButton {
    text-decoration: none;
    border: 1px solid rgb(26, 118, 194);
    background-color: rgb(26, 118, 194);
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
    padding: .6em 1em;
    transition: .4s;
}

#homepageButton:hover {
    background-color: whitesmoke;
    color: black;
}

#imdbButton {
    text-decoration: none;
    border: 1px solid #f3ce13;
    background-color: #f3ce13;
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
    padding: .6em 1em;
    transition: .4s;
}

#imdbButton:hover {
    background-color: whitesmoke;
    color: black;
}

.movie-details__infos {
    grid-area: infos;
    display: flex;
    flex-direction: column;
}

.movie-details__title {
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: .2em;
    margin-bottom: .2em;
    border-bottom: 2px solid black;
}

.movie-details__title span {
    font-size: 1.3rem;
    font-weight: 300;
}

.movie-details__release {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1em;
}

.movie-details__rate {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .4em;
}

.movie-details__popularity {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: .4em;
}

.movie-details__budget {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: .4em;
}

.movie-details__revenue {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.movie-details__rate strong {
    font-weight: 600;
}

.movie-details__overview {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

@media (min-width:950px) {
    .details-section {
        padding: 1em;
    }

    .movie-details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr .5fr;
        grid-template-areas: 
            "image infos"
            "image infos"
            "links .";
            /* grid-gap: 3em; */
        grid-column-gap: 1em;
    }

    .movie-details__image img {
        max-height: 100%;
        /* max-height: 70%; */
        border-radius: 10px;
    }

    .movie-details__links ul {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin: 3em;
    }

    .movie-details__links ul li {
        margin: 0 1em;
    }


}

@media (min-width: 1280px) {

    .details-section {
        padding: 5em;
    }
    .movie-details {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .movie-details__links ul {
        padding: 0 3em;
    }

    .movie-details__links ul li {
        margin: 0 .5em;
    }
}



